body {
  background-color: lightgoldenrodyellow;
}

.content {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  row-gap: .5rem;
  grid-template-rows: 1fr auto 1fr auto;
}

.item {
  display: grid;
  width: 100%;
}

.section-heading {
  margin: 1rem 1rem .5rem 1rem;
}

.button-row {
  display: grid;
  place-items: center;
}

input[type="file"] {
  display: none;
}

.custom-button {
  border-radius: 3px;
  display: inline-block;
  padding: .5rem 1rem;
  cursor: pointer;
  color: black;
  width: 200px;
  text-align: center;
  background-color: lightsteelblue;
}

.custom-button:hover {
  background-color: lightgray;
}

#input-file,
#output-file  {
  overflow-y: auto;
  overflow-x: auto;
  background-color: lightsteelblue;
  margin: 0 1rem;
  height: 350px;
  max-height: 350px;
}

div > table > thead > tr > th {
  padding: .5rem;
  background-color: goldenrod;
}

div > table {
  text-align: center;
}