<div class="content">
  <div class="item">
    <div>
      <label for="file-upload" class="custom-button">Upload a dataset</label>
        <input
          id="file-upload"
          type="file"
          accept=".xls, .xlsx"
          name="files[]"
          (change)="onFileChange($event)"
        />
    </div>
  </div>
  <div class="item">
    <div>{{ inputName }}</div>
    <div id="input-file">
      <table>
        <thead>
          <th *ngFor="let name of colNames">{{ name }}</th>
        </thead>
        <tbody>
          <tr *ngFor="let row of colData">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="item">
    <div id="output-file">{{ outputFile }}</div>
  </div>
  <div id="item" *ngIf="outputFile">
    <div id="file-row">
      <div id="filename">
        <input type="text" id="outputname" value="{{outputName}}">
        <div class="custom-button" (click)="saveXML()">save .xml</div>
      </div>
    </div>
  </div>
</div>