body {
  margin: 0;
  padding: 0;
  background-color: lightgoldenrodyellow;
}

.content {
  display: grid;
  place-items: center;
}

.item {
  display: grid;
  width: 100%;
}

.input-row,
.output-row {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: .5rem;
  height: 60px;
  margin: 0 .5rem;
}

.output-row {
  grid-template-columns: 1fr auto;
}

.row-item {
  display: grid;
  align-items: center;
}

.button-bottom {
  align-items: unset;
  margin-top: 22px;
  margin-bottom: 5px;
}

input[type="file"] {
  display: none;
}

.custom-button {
  border-radius: 3px;
  display: inline-block;
  padding: .5rem 1rem;
  cursor: pointer;
  color: black;
  width: 200px;
  text-align: center;
  background-color: lightsteelblue;
}

.custom-button:hover {
  background-color: lightgray;
}

#input-file,
#output-file  {
  overflow-y: auto;
  overflow-x: auto;
  background-color: lightsteelblue;
  margin: 0 .5rem;
  height: 270px;
}

#input-file {
  margin-bottom: 2px;
  border: 1px solid gray;
}

div > table > thead > tr > th {
  padding: .5rem;
  background-color: goldenrod;
}

div > table {
  text-align: center;
}

textarea {
  resize: none;
}

select {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: lightgray;
}

::-webkit-scrollbar-corner {
  background-color: rgb(179, 179, 179);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey; 
  border-radius: 5px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

/* creates a new styling context */
.example {
  display: flow-root;
}

/* selects all but the first direct child */
.example > * + * {
  margin-top: 1rem;
}